body{
    margin:0;
    padding:0;
    background:#f4f6f9;
    font-family:Arial, Helvetica, sans-serif;
}

.header{
    background:#0d6efd;
    color:white;
    text-align:center;
    padding:15px;
    font-size:28px;
    font-weight:bold;
}

.container{
    width:600px;
    margin:40px auto;
    background:white;
    padding:30px;
    border-radius:12px;
    box-shadow:0px 0px 15px rgba(0,0,0,0.2);
}

h2{
    text-align:center;
}

.status-btn{
    width:100%;
    padding:15px;
    margin-top:12px;
    border:none;
    border-radius:8px;
    color:white;
    font-size:18px;
    cursor:pointer;
}

.available{
    background:#28a745;
}

.busy{
    background:#dc3545;
}

.meeting{
    background:#ffc107;
    color:black;
}

.out{
    background:#6c757d;
}

.break{
    background:#17a2b8;
}

input,textarea{
    width:100%;
    padding:12px;
    margin-top:10px;
    border:1px solid #ccc;
    border-radius:6px;
}